
<ul class="info">
    <li class="phone"><a href="#">(08)4123541214</a><br/><span>Support online</span></li>
    <li class="account"><a href="#">My account</a><br/><span>Welcome customer (log in)</span></li>
    <li class="items"><a href="{{ path('cart') }}"><span class="number">0</span><span class="text">item(s)</span></a></li>
</ul>
